# Output files
*.hdf5
*.fits
*.txt
*.log
*.zip

# Backup files
*#
*~
*.#*

# Binary files
data/*.npy

# Folders
models/
venv/
marvelsim/

# Make exceptions
#!name

# Byte-compiled
__pycache__/

# Jupyter notebook
.ipynb_checkpoints/
python/.ipynb_checkpoints/
